<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Dilara Keküllüoğlu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="../css/cayman.css">
  </head>
  <body>
  <section class="page-header">
        <h2>Dilara Keküllüoğlu</h2>
        <a href="/" class="btn">Home</a>
        <a href="/pubs" class="btn">Publications</a>
      	<a href="/CV" class="btn">CV</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
    
	        		<a href="mailto:dilara.kekulluoglu@sabanciuniv.edu">email</a>
	        		<a href="https://github.com/dilarakkl">github</a>
	      			<a href="https://twitter.com/dilarakkl">twitter</a>
	     			<a href="https://www.linkedin.com/in/dilarakekulluoglu/">linkedin</a>
	
      </footer>
    </section>

  </body>
</html>
